<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<p><%= @book.description %></p>

<%= link_to "戻る", root_path %>
<%= link_to "編集", edit_book_path(@book) %>
<%= link_to "削除", book_path(@book), method: :delete, data: { confirm: "本当に削除しますか？" } %>